GOMOKU_HOST=127.0.0.1
GOMOKU_PORT=8798
GOMOKU_ALLOWED_ORIGIN=http://127.0.0.1:4173
GOMOKU_AUTH_REQUIRED=true
GOMOKU_LOGTO_ISSUER=https://auth.candymo.com/oidc
GOMOKU_LOGTO_AUDIENCE=https://gomoku.candymo.com/api
GOMOKU_LOGTO_CLIENT_ID=pt1vgzollhjzsfml54uz9
GOMOKU_VIEW_RATE_LIMIT=120
GOMOKU_WEB_HOST=127.0.0.1
GOMOKU_WEB_PORT=4173
